// Colors
$dark-grey: #333333;
$button-blue: #6199d1;
$dark-blue: #364051;

// Font
$font-size-l: 1.8rem;
// Spacing
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
